.info-order .order-checkout {
  margin-bottom: 86px;
}

.info-order .order-checkout .left-content-confirmation {
  width: 49%;
}

.info-order .order-checkout .left-content-confirmation .order-confirmed {
  background: #ffffff;
  padding: 60px 15.5% 42px 15.5%;
  height: 100%;
}

.info-order .order-checkout .left-content-confirmation .order-confirmed img {
  width: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 100px;
}

.info-order .order-checkout .left-content-confirmation .order-confirmed h4 {
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.03em;
  color: #333333;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 16px;
}

.info-order .order-checkout .left-content-confirmation .order-confirmed p {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #777777;
  color: #333333;
  text-align: center;
  margin-bottom: 60px;
}

.info-order .order-checkout .left-content-confirmation .order-confirmed .button-confirm {
  text-align: center;
}

.info-order .order-checkout .left-content-confirmation .order-confirmed .button-confirm .track-page {
  text-decoration: none;
  background-color: #d84727;
  border: 2px solid #d84727;
  padding: 15px 47px 14px 48px;
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.03em;
  color: #333333;
  font-size: 20px;
  color: #ffffff;
  display: inline-block;
  width: 100%;
}

.info-order .order-checkout .right-content-confirmation {
  width: 49%;
}

.info-order .order-checkout .right-content-confirmation .check-order {
  background: #ffffff;
  padding: 32px;
  height: 100%;
}

.info-order .order-checkout .right-content-confirmation .check-order .delivery-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 30px;
}

.info-order .order-checkout .right-content-confirmation .check-order .delivery-details .time-delivery {
  margin-right: 40px;
}

.info-order .order-checkout .right-content-confirmation .check-order .delivery-details .time-delivery .text-deliv {
  margin-left: 8px;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #777777;
  line-height: 32px;
  color: #333333;
}

.info-order .order-checkout .right-content-confirmation .check-order .delivery-details .courier-delivery .text-deliv {
  margin-left: 8px;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #777777;
  line-height: 32px;
  color: #333333;
}

.info-order .order-checkout .right-content-confirmation .check-order .info-order-confr .text-confr {
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.02em;
  color: #333333;
  font-size: 20px;
  line-height: 32px;
}

.info-order .order-checkout .right-content-confirmation .check-order .info-order-confr .descr-confr {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #777777;
}

.info-order .order-checkout .right-content-confirmation .check-order .item-conf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info-order .order-checkout .right-content-confirmation .check-order .item-conf .order-data {
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.03em;
  color: #333333;
  line-height: 60px;
  width: 50%;
}

.info-order .order-checkout .right-content-confirmation .check-order .item-conf .price-order {
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.03em;
  color: #333333;
  line-height: 60px;
  width: 50%;
}

.info-order .order-checkout .right-content-confirmation .check-order hr {
  height: 1px;
  color: #333333;
  margin: 24px 0 16px 0;
}

.info-order .order-checkout .right-content-confirmation .check-order .items-str {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.info-order .order-checkout .right-content-confirmation .check-order .items-str .title-order {
  width: 40%;
}

.info-order .order-checkout .right-content-confirmation .check-order .items-str .title-order .text-title-order {
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.02em;
  color: #333333;
  font-size: 20px;
  line-height: 32px;
}

.info-order .order-checkout .right-content-confirmation .check-order .items-str .info-input {
  width: 60%;
}

.info-order .order-checkout .right-content-confirmation .check-order .items-str .info-input .text-info-input {
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.02em;
  color: #333333;
  font-size: 20px;
  line-height: 32px;
}

/*Media */
@media screen and (max-width: 1024px) {
  .info-order
.order-checkout
.left-content-confirmation
.order-confirmed
.button-confirm
.track-page {
    padding: 15px;
  }
  .info-order .order-checkout .left-content-confirmation .order-confirmed p {
    font-size: 15px;
    line-height: 21px;
  }
  .info-order
.order-checkout
.right-content-confirmation
.check-order
.item-conf
.order-data,
  .info-order
.order-checkout
.right-content-confirmation
.check-order
.item-conf
.price-order {
    font-size: 18px;
    line-height: 40px;
  }
  .info-order
.order-checkout
.right-content-confirmation
.check-order
.info-order-confr
.text-confr {
    font-size: 17px;
    line-height: 20px;
  }
  .info-order
.order-checkout
.right-content-confirmation
.check-order
.info-order-confr
.descr-confr {
    font-size: 13px;
    line-height: 20px;
  }
  .info-order
.order-checkout
.right-content-confirmation
.check-order
.items-str
.title-order
.text-title-order,
  .info-order
.order-checkout
.right-content-confirmation
.check-order
.items-str
.info-input
.text-info-input {
    font-size: 17px;
    line-height: 26px;
  }
}

@media screen and (max-width: 768px) {
  .info-order .order-checkout .left-content-confirmation {
    width: 100%;
    margin-bottom: 20px;
  }
  .info-order .order-checkout .right-content-confirmation {
    width: 100%;
  }
  .info-order .order-checkout .left-content-confirmation .order-confirmed p {
    font-size: 16px;
    line-height: 24px;
  }
  .info-order
.order-checkout
.right-content-confirmation
.check-order
.info-order-confr
.text-confr {
    font-size: 20px;
    line-height: 32px;
  }
  .info-order
.order-checkout
.right-content-confirmation
.check-order
.info-order-confr
.descr-confr {
    font-size: 16px;
    line-height: 24px;
  }
  .info-order
.order-checkout
.right-content-confirmation
.check-order
.item-conf
.order-data,
  .info-order
.order-checkout
.right-content-confirmation
.check-order
.item-conf
.price-order {
    font-size: 24px;
    line-height: 60px;
  }
  .info-order
.order-checkout
.right-content-confirmation
.check-order
.items-str
.title-order
.text-title-order,
  .info-order
.order-checkout
.right-content-confirmation
.check-order
.items-str
.info-input
.text-info-input {
    font-size: 20px;
    line-height: 32px;
  }
}

@media screen and (max-width: 600px) {
  .info-order .order-checkout .left-content-confirmation .order-confirmed p {
    font-size: 15px;
    line-height: 21px;
  }
  .info-order
.order-checkout
.right-content-confirmation
.check-order
.item-conf
.order-data,
  .info-order
.order-checkout
.right-content-confirmation
.check-order
.item-conf
.price-order {
    font-size: 18px;
    line-height: 40px;
  }
  .info-order
.order-checkout
.right-content-confirmation
.check-order
.info-order-confr
.descr-confr {
    font-size: 13px;
    line-height: 20px;
  }
  .info-order
.order-checkout
.right-content-confirmation
.check-order
.items-str
.title-order
.text-title-order,
  .info-order
.order-checkout
.right-content-confirmation
.check-order
.items-str
.info-input
.text-info-input {
    font-size: 17px;
    line-height: 26px;
  }
  .info-order
.order-checkout
.right-content-confirmation
.check-order
.item-conf
.price-order {
    text-align: end;
  }
  .info-order
.order-checkout
.right-content-confirmation
.check-order
.items-str
.info-input {
    text-align: justify;
  }
}

@media screen and (max-width: 425px) {
  .info-order
.order-checkout
.right-content-confirmation
.check-order
.items-str
.title-order,
  .info-order
.order-checkout
.right-content-confirmation
.check-order
.items-str
.info-input {
    width: 100%;
  }
  .info-order
.order-checkout
.right-content-confirmation
.check-order
.items-str
.info-input
.text-info-input {
    width: 100%;
    text-align: end;
    font-size: 15px;
    line-height: 22px;
  }
}

@media screen and (max-width: 375px) {
  .info-order
.order-checkout
.right-content-confirmation
.check-order
.item-conf
.order-data,
  .info-order
.order-checkout
.right-content-confirmation
.check-order
.item-conf
.price-order {
    font-size: 15px;
  }
  .info-order
.order-checkout
.right-content-confirmation
.check-order
.info-order-confr
.text-confr {
    font-size: 17px;
    line-height: 24px;
  }
  .info-order
.order-checkout
.left-content-confirmation
.order-confirmed
.button-confirm
.track-page {
    padding: 10px;
  }
  .info-order .order-checkout .left-content-confirmation .order-confirmed h4 {
    font-size: 23px;
  }
  .info-order .order-checkout .left-content-confirmation .order-confirmed p {
    font-size: 13px;
  }
}
/*# sourceMappingURL=style-confirmation.css.map */