.order-checkout {
  margin-bottom: 30px;
}

.order-checkout .left-content-checkout {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-row-gap: 20px;
}

.order-checkout .left-content-checkout .payment-detail {
  background: #ffffff;
  padding: 32px;
}

.order-checkout .left-content-checkout .payment-detail .title-payment-detail .time-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.order-checkout .left-content-checkout .payment-detail .title-payment-detail .time-container .title-h3 {
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.02em;
  color: #333333;
  font-weight: 600;
  font-size: 36px;
  line-height: 48px;
  margin-bottom: 16px;
}

.order-checkout .left-content-checkout .payment-detail .title-payment-detail .time-container .time {
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 48px;
  letter-spacing: 0.02em;
  color: #d93f3f;
}

.order-checkout .left-content-checkout .payment-detail .title-payment-detail .descr-payment-detail {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #777777;
  line-height: 32px;
  letter-spacing: 0.03em;
  color: #333333;
  margin-bottom: 8px;
}

.order-checkout .right-content-checkout {
  display: inherit;
}

.order-checkout .payment-method {
  background: #ffffff;
  padding: 32px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.order-checkout .payment-method h3 {
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.02em;
  color: #333333;
  font-weight: 600;
  font-size: 36px;
  line-height: 48px;
  margin-bottom: 40px;
}

.order-checkout .payment-method .form-payment-radio {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.order-checkout .payment-method .form-payment-radio .input-radio:nth-child(5) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
}

.order-checkout .payment-method .form-payment-radio .input-radio input {
  width: 24px;
  height: 24px;
  vertical-align: sub;
  margin-right: 16px;
}

.order-checkout .payment-method .form-payment-radio .input-radio .title-payment {
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.02em;
  color: #333333;
  font-size: 20px;
  line-height: 32px;
}

.order-checkout .payment-method .form-payment-radio .input-radio .img-payment img {
  margin-right: 30px;
}

.items-str {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 24px;
}

.items-str .title-order {
  width: 40%;
}

.items-str .title-order .text-title-order {
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.02em;
  color: #333333;
  font-size: 20px;
  line-height: 32px;
}

.items-str .info-input {
  width: 60%;
}

.items-str .info-input .text-info-input {
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.02em;
  color: #333333;
  font-size: 20px;
  line-height: 32px;
}

.items-str .info-input .text-info-input span {
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.02em;
  color: #333333;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #d84727;
  margin-left: 28px;
}

.items-str .info-input .descr-info-input {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #777777;
}

.items-str:last-child {
  margin-bottom: 0;
}

/*Media */
@media screen and (max-width: 1200px) {
  .items-str .title-order .text-title-order {
    font-size: 18px;
    line-height: 26px;
  }
  .items-str .info-input .text-info-input {
    font-size: 15px;
    line-height: 26px;
  }
  .items-str .info-input .text-info-input span {
    font-size: 12px;
  }
  .order-checkout
.left-content-checkout
.payment-detail
.title-payment-detail
.time-container
.time {
    width: 100%;
    text-align: end;
  }
  .order-checkout
.left-content-checkout
.payment-detail
.title-payment-detail
.time-container
.title-h3 {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 1024px) {
  .order-checkout
.left-content-checkout
.payment-detail
.title-payment-detail
.time-container
.title-h3 {
    font-size: 33px;
    line-height: 25px;
  }
  .order-checkout
.left-content-checkout
.payment-detail
.title-payment-detail
.descr-payment-detail {
    text-align: justify;
  }
}

@media screen and (max-width: 768px) {
  .items-str .title-order .text-title-order,
  .items-str .info-input .text-info-input {
    font-size: 20px;
    line-height: 32px;
  }
  .items-str .info-input .text-info-input span {
    font-size: 16px;
  }
  .order-checkout
.left-content-checkout
.payment-detail
.title-payment-detail
.time-container
.time {
    line-height: 25px;
    width: 30%;
  }
  .order-checkout
.left-content-checkout
.payment-detail
.title-payment-detail
.time-container {
    margin-bottom: 30px;
  }
  .info-order .order-checkout .right-content-checkout {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .items-str .title-order .text-title-order,
  .items-str .info-input .text-info-input {
    font-size: 15px;
    line-height: 20px;
  }
  .items-str .info-input .text-info-input span {
    font-size: 12px;
  }
  .items-str .info-input .descr-info-input {
    font-size: 12px;
    line-height: 18px;
  }
  .order-checkout
.left-content-checkout
.payment-detail
.title-payment-detail
.time-container
.time {
    width: 100%;
    line-height: 48px;
  }
  .order-checkout
.left-content-checkout
.payment-detail
.title-payment-detail
.time-container {
    margin-bottom: 0;
  }
  .order-checkout
.left-content-checkout
.payment-detail
.title-payment-detail
.descr-payment-detail {
    line-height: 24px;
  }
}

@media screen and (max-width: 425px) {
  .items-str .title-order {
    width: 100%;
  }
  .items-str .info-input {
    width: 100%;
    text-align: end;
  }
  .order-checkout
.left-content-checkout
.payment-detail
.title-payment-detail
.time-container
.time {
    font-size: 16px;
  }
}

@media screen and (max-width: 375px) {
  .order-checkout
.left-content-checkout
.payment-detail
.title-payment-detail
.time-container
.title-h3 {
    font-size: 27px;
  }
  .order-checkout
.left-content-checkout
.payment-detail
.title-payment-detail
.descr-payment-detail {
    line-height: 20px;
    font-size: 14px;
  }
}
/*# sourceMappingURL=style-payment.css.map */