body {
  font-family: "Catamaran", sans-serif;
  font-family: "Nunito", sans-serif;
  font-family: "Taviraj", serif;
}

.wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  background: #e5e5e5;
}

.center {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
}

/* Header */
header {
  padding-top: 35px;
}

header .info__header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 45% 1fr;
      grid-template-columns: 1fr 45% 1fr;
}

header .info__header .logo {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

header .info__header .logo a img {
  vertical-align: baseline;
}

header .info__header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 88px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

header .info__header .icon__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .info__header .icon__header .icon-search {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

header .info__header .icon__header .icon-search img {
  vertical-align: sub;
}

header .info__header .icon__header .icon-search img:hover {
  width: 34px;
}

header .info__header .icon__header .icon-user {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 40px;
  margin-left: 40px;
}

header .info__header .icon__header .icon-user img {
  margin-right: 8px;
  vertical-align: middle;
}

header .info__header .icon__header .icon-user span:hover {
  color: #d84727;
}

header .info__header .icon__header .icon-user img:hover {
  width: 26px;
  margin-left: -2px;
}

header .info__header .icon__header .icon[data-link="cart"] {
  width: 46px;
  height: 46px;
  background: #f1ddc9;
  border-radius: 50%;
}

header .info__header .icon__header .icon .cart {
  display: block;
  height: inherit;
  width: inherit;
  background: url(../images/Cart.png) no-repeat center/50%;
}

header a {
  text-decoration: none;
  color: #333333;
  font-family: "Catamaran", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 34px;
  letter-spacing: 0.02em;
}

header a:hover {
  color: #d84727;
}

header .info__header .menu .item a::after {
  content: "";
  display: block;
  width: 100%;
  background-color: #d84727;
  height: 2px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(0);
          transform: scale(0);
}

header .info__header .menu .item a:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

header .info__header .menu .item a span:hover {
  color: #d84727;
}

/* Section Pink  */
.pink {
  background: #f1ddc9;
  margin-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pink a {
  text-decoration: none;
}

.pink .pink-left img {
  position: relative;
  top: 130px;
  left: 8px;
}

.pink .pink-left {
  width: 36%;
}

.pink .pink-right {
  padding-top: 56px;
  width: 64%;
}

.pink .pink-right .matoa__pink h1 {
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 80px;
  letter-spacing: 0.02em;
  color: #333333;
  width: 60%;
  text-transform: uppercase;
}

.pink .pink-right .matoa__pink hr {
  width: 95px;
  border: 1px solid #000000;
  margin-top: 8px;
  margin-bottom: 24px;
  margin-left: 0;
}

.pink .pink-right .matoa__pink .text__pink {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #333333;
  line-height: 22px;
  width: 70%;
  margin-bottom: 8px;
}

.pink .pink-right .matoa__pink .text__discover {
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.02em;
  color: #333333;
  letter-spacing: 0.03em;
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
}

.pink .pink-right .matoa__pink .discover {
  border: 1px solid #333333;
  width: 74px;
  margin-top: 0;
  margin-bottom: 0;
}

.button__pink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 44px;
}

.button__pink .button1 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 16px;
}

.button__pink .button1 .add__cart {
  text-decoration: none;
  background-color: #d84727;
  padding: 14px 30px 14px 25px;
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.02em;
  color: #333333;
  color: #ffffff;
  font-size: 20px;
  line-height: 34px;
}

.button__pink .button1 .add__cart i {
  margin-right: 13px;
}

.button__pink .button1 .add__cart:hover {
  color: #d84727;
  background-color: rgba(216, 71, 39, 0);
  border: 2px solid #d84727;
  padding: 12px 28px 12px 23px;
}

.button__pink .button2 .cicil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button__pink .button2 .cicil img {
  border: 2px solid #d84727;
  padding: 15px 41px 14px 42px;
}

.button__pink .button2 .cicil img:hover {
  border: 4px solid #d84727;
  padding: 13px 40px 12px 41px;
}

.arrow__pink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 9px;
  position: relative;
  top: 27px;
}

.arrow__pink .arrow {
  border: 3px solid #d84727;
  padding: 0 12px;
}

.arrow__pink .arrow:last-child {
  margin-left: 15px;
  margin-right: 31px;
}

.arrow__pink .arrow .item {
  font-size: 30px;
  color: #d84727;
}

.arrow__pink .arrow:hover {
  background-color: #d84727;
  cursor: pointer;
}

.arrow__pink .arrow:hover .item {
  color: #fff;
}

/* Section Discover Now */
.discover__now {
  margin-top: 139px;
}

.discover__now .card__now {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
}

.discover__now .card__now .item {
  background: #ffffff;
  padding-top: 32px;
  padding-left: 32px;
}

.discover__now .card__now .item .link__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.discover__now .card__now .item .name {
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.02em;
  color: #333333;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 0.03em;
}

.discover__now .card__now .item .name span {
  font-weight: 600;
}

.discover__now .card__now .item .info__name {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #333333;
  line-height: 24px;
  color: #777777;
  width: 345px;
  margin-top: 8px;
}

.discover__now .card__now .item .link__img .desc .link__discover {
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.02em;
  color: #333333;
  font-size: 16px;
  line-height: 27px;
  font-weight: 600;
  letter-spacing: 0.03em;
  margin-top: 4px;
}

.discover__now .card__now .item .link__img .desc hr {
  width: 115px;
  border: 1px solid #333333;
  margin: 0;
}

.discover__now .card__now .item .link__img .desc img {
  width: 100%;
  max-width: 100%;
}

.discover__now .card__now .item .link__img .desc a {
  text-decoration: none;
}

/* Section Monthly Deals */
.monthly__deals {
  margin-top: 92px;
}

.name {
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.02em;
  color: #333333;
  font-weight: 500;
  font-size: 36px;
  line-height: 40px;
}

.name__hr {
  width: 128px;
  border: 1px solid #000000;
  margin-top: 8px;
}

.product__card {
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.06);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.06);
  -webkit-transition: all 3s;
  transition: all 3s;
  background: #ffffff;
}

.product__card:hover {
  -webkit-box-shadow: 0 14px 30px -15px rgba(0, 0, 0, 0.75);
          box-shadow: 0 14px 30px -15px rgba(0, 0, 0, 0.75);
}

.product__thumb a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  top: -40px;
  margin-top: 60px;
}

.product__details {
  margin-left: 24px;
}

.product__details h4 a {
  text-decoration: none;
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.02em;
  color: #333333;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
}

.product__details .percent {
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #777777;
  margin-bottom: 6px;
}

.product__details .small {
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.02em;
  color: #333333;
  font-size: 16px;
  line-height: 24px;
  color: #777777;
  text-decoration: line-through;
}

.product__details .big {
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.02em;
  color: #333333;
  font-size: 24px;
  line-height: 32px;
  padding-bottom: 8px;
}

.product__card .hide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 26px;
  margin-right: 24px;
  margin-top: 24px;
  padding-bottom: 16px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product__card .heart {
  border: 1px solid #d84727;
  padding: 7px 8px 5px 7px;
  display: inline-block;
  margin-left: 24px;
  margin-right: 8px;
  margin-bottom: 30px;
}

.product__card .heart:hover {
  border: 3px solid #d84727;
  padding: 5px 6px 3px 5px;
}

.product__card .card__button {
  display: inline-block;
}

.product__card .card__button a {
  text-decoration: none;
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.02em;
  color: #333333;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  background: #d84727;
  padding: 7px 35px 6px 35px;
  display: inline-block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: 1px solid rgba(216, 71, 39, 0);
}

.product__card .card__button a:hover {
  color: #d84727;
  background-color: #ffffff;
  border: 1px solid #d84727;
}

.product__card .hide {
  display: none;
}

.recent__news .name__section {
  margin-top: 57px;
}

.recent__news .all__recent-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.recent__news .all__recent-news .left__recent-news {
  margin-left: 165px;
  margin-top: 180px;
  width: 56%;
}

.recent__news .all__recent-news .left__recent-news p {
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.02em;
  color: #333333;
  font-size: 20px;
  line-height: 40px;
  color: #777777;
}

.recent__news .all__recent-news .left__recent-news h3 {
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.02em;
  color: #333333;
  font-size: 36px;
  line-height: 48px;
  width: 350px;
}

.recent__news .all__recent-news .left__recent-news .button__recent-news a {
  text-decoration: none;
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.02em;
  color: #333333;
  font-size: 16px;
  line-height: 27px;
  color: #d84727;
  border: 2px solid #d84727;
  padding: 15px 47px 16px 47px;
  display: inline-block;
  margin-top: 45px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.recent__news .all__recent-news .left__recent-news .button__recent-news a:hover {
  color: #ffffff;
  background-color: #d84727;
}

.recent__news .all__recent-news .right__receht-news {
  background: #f1ddc9;
  width: 44%;
  height: 458px;
  position: relative;
}

.recent__news .all__recent-news .right__receht-news img {
  position: absolute;
  top: 69px;
  right: 38%;
  width: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.catalog__clock {
  margin-top: 133px;
}

.catalog__clock .series {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (33.3%)[3];
      grid-template-columns: repeat(3, 33.3%);
  grid-row-gap: 32px;
}

.catalog__clock .series div .name {
  font-weight: normal;
}

.catalog__clock .series div .name__hr {
  width: 65px;
  border: 1px solid #333333;
}

.catalog__clock .series div .picture[data-link="back"] {
  width: 131px;
  height: 131px;
  background: #f1ddc9;
}

.catalog__clock .series div .picture[data-link="back"] .back1 {
  display: block;
  height: inherit;
  width: inherit;
  background: url(../images/Catalog1.png) no-repeat center/50%;
}

.catalog__clock .series div .picture[data-link="back"] .back2 {
  display: block;
  height: inherit;
  width: inherit;
  background: url(../images/Catalog2.png) no-repeat center/50%;
}

.catalog__clock .series div .picture[data-link="back"] .back3 {
  display: block;
  height: inherit;
  width: inherit;
  background: url(../images/Catalog3.png) no-repeat center/50%;
}

.catalog__clock .series div .picture[data-link="back"] .back4 {
  display: block;
  height: inherit;
  width: inherit;
  background: url(../images/Catalog4.png) no-repeat center/50%;
}

.catalog__clock .series div .picture[data-link="back"] .back5 {
  display: block;
  height: inherit;
  width: inherit;
  background: url(../images/Catalog5.png) no-repeat center/40%;
}

.catalog__clock .series div .picture[data-link="back"] .back6 {
  display: block;
  height: inherit;
  width: inherit;
  background: url(../images/Catalog6.png) no-repeat center/80%;
}

.catalog__clock .series div .picture[data-link="back"] .back7 {
  display: block;
  height: inherit;
  width: inherit;
  background: url(../images/Catalog7.png) no-repeat center/50%;
}

.catalog__clock .series div .picture[data-link="back"] .back8 {
  display: block;
  height: inherit;
  width: inherit;
  background: url(../images/Catalog8.png) no-repeat center/50%;
}

.catalog__clock .series div .picture[data-link="back"] .back9 {
  display: block;
  height: inherit;
  width: inherit;
  background: url(../images/Catalog9.png) no-repeat center/50%;
}

.catalog__clock .series .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgba(216, 71, 39, 0);
}

.catalog__clock .series .title a {
  text-decoration: none;
}

.catalog__clock .series .title a .info__product {
  margin-left: 24px;
  max-height: 131px;
}

.catalog__clock .series .title a .info__product h4 {
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.02em;
  color: #333333;
  font-size: 24px;
  line-height: 32px;
}

.catalog__clock .series .title a .info__product p {
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.02em;
  color: #333333;
  font-size: 16px;
  line-height: 24px;
  color: #777777;
  text-decoration: line-through;
  margin-bottom: 0;
}

.catalog__clock .series .title a .info__product h3 {
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.02em;
  color: #333333;
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
  color: #222222;
}

.catalog__clock .series .title:hover {
  border: 1px solid #d84727;
}

.catalog__clock .button__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 55px;
}

.catalog__clock .button__more hr {
  border: 0.3px solid #999999;
  width: 30%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.catalog__clock .button__more .see__more a {
  text-decoration: none;
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.02em;
  color: #333333;
  font-size: 20px;
  line-height: 34px;
  letter-spacing: 0.03em;
  color: #d84727;
  border: 1px solid #d84727;
  padding: 16px 91px 16px 92px;
  display: inline-block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.catalog__clock .button__more .see__more a:hover {
  color: #ffffff;
  background-color: #d84727;
}

.testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 120px;
}

.testimonials .left__testimonials {
  width: 35.7%;
  background: #f1ddc9;
  height: 300px;
  position: relative;
}

.testimonials .left__testimonials .girl {
  position: absolute;
  top: 67px;
  left: 165px;
  width: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.testimonials .right__testimonials {
  width: 50%;
}

.testimonials .right__testimonials .sub__container {
  margin-left: 74px;
}

.testimonials .right__testimonials .sub__container .name {
  font-weight: 600;
}

.testimonials .right__testimonials .sub__container .name__hr {
  margin-bottom: 30px;
}

.testimonials .right__testimonials .sub__container .nunito {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #333333;
  width: 511px;
  margin-bottom: 70px;
}

.testimonials .right__testimonials .sub__container h4 {
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.03em;
  color: #333333;
}

.testimonials .right__testimonials .sub__container p {
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.03em;
  color: #777777;
  margin-bottom: 0;
}

.blog__instagram {
  margin-top: 200px;
  margin-bottom: 75px;
}

.blog__instagram .img__blog {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.blog__instagram .img__blog div {
  width: 20%;
}

.blog__instagram .img__blog div img {
  height: 100vh;
  max-height: 222px;
  width: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

footer .first__footer {
  background-color: #da5e42;
}

footer .first__footer .payment {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  padding-top: 40px;
  padding-bottom: 23px;
}

footer .first__footer .payment .link:nth-child(1),
footer .first__footer .payment .link:nth-child(6) {
  text-align: end;
}

footer .first__footer .payment .link:nth-child(2),
footer .first__footer .payment .link:nth-child(3),
footer .first__footer .payment .link:nth-child(4),
footer .first__footer .payment .link:nth-child(7),
footer .first__footer .payment .link:nth-child(8),
footer .first__footer .payment .link:nth-child(9) {
  text-align: center;
}

footer .second__footer {
  background-color: #d84727;
  color: #ffffff;
  padding-top: 51px;
}

footer .second__footer .address .logo__foot {
  margin-bottom: 27px;
  display: block;
}

footer .second__footer .address h6 {
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 34px;
  letter-spacing: 0.02em;
  margin: 0;
  display: inline;
}

footer .second__footer .address li {
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.03em;
}

footer .second__footer h6 {
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 34px;
  letter-spacing: 0.02em;
  display: inline-block;
  width: 97px;
}

footer .second__footer li {
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.03em;
}

footer .second__footer h5 {
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0.02em;
  margin-bottom: 0;
}

footer .second__footer hr {
  border: 1px solid #ffffff;
  width: 60px;
  margin-top: 0;
}

footer .second__footer a {
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #ffffff;
}

footer .second__footer a:hover {
  color: aqua;
  text-decoration: underline;
}

footer .second__footer .social__link a {
  margin-right: 25px;
}

.bread {
  margin-top: 74px;
  margin-bottom: 45px;
}

.bread a {
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.02em;
  color: #333333;
  font-size: 16px;
  line-height: 27px;
  text-decoration: none;
}

.bread a::after {
  content: "";
  display: block;
  width: 100%;
  background-color: #d84727;
  height: 2px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.bread a:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.bread a:hover {
  color: #d84727;
}

.bread .active {
  color: #d84727;
}

.product__info .all_product-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product__info .all_product-info .left__product-info {
  width: 41%;
  height: 548px;
  background-color: #f1ddc9;
  position: relative;
}

.product__info .all_product-info .left__product-info .mini__clock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: 38%;
  margin-right: 10%;
}

.product__info .all_product-info .left__product-info .mini__clock div {
  position: relative;
}

.product__info .all_product-info .left__product-info .mini__clock div a img {
  width: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 110px;
  display: block;
}

.product__info .all_product-info .left__product-info .mini__clock div .filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(241, 221, 201, 0.5);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  cursor: pointer;
}

.product__info .all_product-info .left__product-info .mini__clock div .filter:hover {
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.product__info .all_product-info .left__product-info .one__clock {
  position: absolute;
  right: -23%;
  top: 24px;
}

.product__info .all_product-info .left__product-info .one__clock img {
  width: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.product__info .all_product-info .right__product-info {
  width: 59%;
}

.product__info .all_product-info .right__product-info .info__model {
  margin-left: 173px;
  margin-top: 24px;
}

.product__info .all_product-info .right__product-info .info__model h1 {
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 80px;
  letter-spacing: 0.02em;
  color: #333333;
  width: 60%;
  width: 84%;
}

.product__info .all_product-info .right__product-info .info__model .old__price {
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.02em;
  color: #333333;
  font-size: 20px;
  line-height: 28px;
  color: #777777;
  text-decoration: line-through;
  margin-bottom: 0;
  margin-top: 8px;
}

.product__info .all_product-info .right__product-info .info__model .new__price {
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.02em;
  color: #333333;
  font-weight: 500;
  font-size: 24px;
  line-height: 41px;
}

.product__info .all_product-info .right__product-info .info__model .choose {
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.02em;
  color: #333333;
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 8px;
}

.product__info .all_product-info .right__product-info .info__model .model {
  border-radius: 171.5px;
  width: 55px;
  height: 55px;
  margin-right: 7px;
}

.product__info .all_product-info .right__product-info .info__model .button__quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product__info .all_product-info .right__product-info .info__model .button__quantity .quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 57px;
  margin-right: 10px;
}

.product__info .all_product-info .right__product-info .info__model .button__quantity .quantity .choose__quantity {
  border: 3px solid #777777;
  padding: 0 7px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.product__info .all_product-info .right__product-info .info__model .button__quantity .quantity .choose__quantity .item {
  font-size: 16px;
  color: #777777;
}

.product__info .all_product-info .right__product-info .info__model .button__quantity .quantity .choose__quantity:hover {
  background-color: #d84727;
  border: 3px solid #d84727;
  cursor: pointer;
}

.product__info .all_product-info .right__product-info .info__model .button__quantity .quantity .choose__quantity:hover .item {
  color: #ffffff;
}

.product__info .all_product-info .right__product-info .info__model .button__quantity .quantity .one {
  font-family: Taviraj;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 61px;
  letter-spacing: 0.02em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 15px;
  margin-right: 15px;
  color: #000000;
}

.product__info .all_product-info .right__product-info .info__model .button__quantity .arrow__pink {
  position: static;
  margin-left: 29px;
}

.detail__product {
  margin-top: 76px;
  margin-bottom: 28px;
}

.detail__product .link__detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.detail__product .link__detail .item a {
  text-decoration: none;
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.02em;
  color: #333333;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  color: #999999;
  margin-left: 40px;
}

.detail__product .link__detail .item:first-child a {
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.02em;
  color: #333333;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  color: #d84727;
}

.detail__product .link__detail .item:first-child hr {
  border: 1px solid #d84727;
  margin: 0;
  width: 62px;
  margin-left: 40px;
}

.detail__product .link__detail .item a span:hover {
  color: #d84727;
}

.detail__product hr {
  margin-top: 12px;
  margin-bottom: 0;
}

.detail__product .descr__detail .name__descr {
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.02em;
  color: #333333;
  font-size: 24px;
  line-height: 32px;
  margin-top: 24px;
}

.detail__product .descr__detail .descr__text {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #333333;
  letter-spacing: 0.02em;
  color: #555555;
}

.detail__product .descr__detail .detail__img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.second__monthly {
  margin-bottom: 97px;
}

.relate__products {
  height: 403px;
  max-height: 100%;
}

.relate__products .relate a {
  position: static;
  padding-top: 46px;
}

.relate__products .details__relate h4 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.relate__products .details__relate .small {
  margin: 0;
}

.relate__products .details__relate .big {
  padding: 0;
  margin-bottom: 24px;
}

.sale {
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.02em;
  color: #333333;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  background: #d84727;
  padding: 5px 16px;
  display: inline-block;
  position: relative;
  top: 91px;
  left: 50%;
}

.sale__new {
  background: #01522d;
  left: 60%;
}

.all__section {
  position: relative;
}

.page__cart {
  margin-top: 119px;
}

.page__cart .kvadr {
  width: 590px;
  max-width: 100%;
  height: 548px;
  background-color: #f1ddc9;
}

.cart__product {
  margin-top: 76px;
  margin-bottom: 0;
}

.cart__product .cart__detail {
  border: 1px solid #999999;
  padding-top: 15px;
  padding-bottom: 15px;
}

.cart__product .cart__detail .item {
  border-right: 1px solid #999999;
}

.cart__product .cart__detail .item a {
  margin-right: 20px;
  margin-left: 20px !important;
  color: #333333 !important;
}

.cart__product .cart__detail .item hr {
  margin-left: 20px !important;
}

.cart__product .cart__detail .item:last-child {
  border-right: none;
}

.cart__product .cart__detail .item:first-child a {
  color: #d84727 !important;
}

.cart__border {
  border-left: 1px solid #999999;
  border-right: 1px solid #999999;
  height: 10px;
}

.black__filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  padding-top: 120px;
  padding-bottom: 128px;
}

.black__filter .select {
  background: #f7f6f4;
  padding: 32px 32px 40px 32px;
}

.black__filter .select .select__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.black__filter .select .select__card .left__select-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

.black__filter .select .select__card .left__select-card .picture__select[data-link="back__select"] {
  width: 144px;
  height: 144px;
  background: #f1ddc9;
}

.black__filter .select .select__card .left__select-card .picture__select[data-link="back__select"] .back__select {
  display: block;
  height: inherit;
  width: inherit;
  background: url(../images/Clock2.png) no-repeat center/50%;
}

.black__filter .select .select__card .left__select-card .picture__select[data-link="back__select"] .back__select2 {
  display: block;
  height: inherit;
  width: inherit;
  background: url(../images/Catalog3.png) no-repeat center/50%;
}

.black__filter .select .select__card .left__select-card .info__select {
  margin-left: 32px;
  max-height: 144px;
}

.black__filter .select .select__card .left__select-card .info__select h4 {
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.02em;
  color: #333333;
  font-size: 20px;
  line-height: 24px;
}

.black__filter .select .select__card .left__select-card .info__select .sm__price {
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.02em;
  color: #333333;
  font-size: 16px;
  line-height: 24px;
  color: #777777;
  text-decoration: line-through;
  margin-bottom: 0;
}

.black__filter .select .select__card .left__select-card .info__select h3 {
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.02em;
  color: #333333;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.black__filter .select .select__card .left__select-card .info__select .small__text {
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.02em;
  color: #333333;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #555555;
  margin-bottom: 0;
}

.black__filter .select .select__card .right__select-card {
  width: 50%;
}

.black__filter .select .select__card .right__select-card p {
  text-align: end;
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.02em;
  color: #333333;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin-bottom: 8px;
}

.black__filter .select .select__card .right__select-card .form-select {
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.02em;
  color: #333333;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #999999;
}

.black__filter .select .select__card .right__select-card .trash__select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.black__filter .select .select__card .right__select-card .trash__select .quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 37px;
}

.black__filter .select .select__card .right__select-card .trash__select .quantity .choose__quantity {
  border: 3px solid #777777;
  padding: 0 7px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.black__filter .select .select__card .right__select-card .trash__select .quantity .choose__quantity .item {
  font-size: 16px;
  color: #777777;
}

.black__filter .select .select__card .right__select-card .trash__select .quantity .choose__quantity:hover {
  background-color: #d84727;
  border: 3px solid #d84727;
  cursor: pointer;
}

.black__filter .select .select__card .right__select-card .trash__select .quantity .choose__quantity:hover .item {
  color: #ffffff;
}

.black__filter .select .select__card .right__select-card .trash__select .quantity .one {
  font-family: Taviraj;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.03em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 18px;
  margin-right: 18px;
  color: #000000;
}

.black__filter .select .select__card .right__select-card .trash__select h3 {
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.02em;
  color: #333333;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 0;
  margin-left: 19px;
}

.black__filter .select .select__card .right__select-card .trash__select img {
  border: 1px solid #d93f3f;
  padding: 6px;
  margin-left: 32px;
  cursor: pointer;
}

.black__filter .select .select__card .right__select-card .trash__select img:hover {
  border: 3px solid #d93f3f;
  padding: 4px;
}

.black__filter .select .last__select-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 24px;
}

.black__filter .select .last__select-card .left__last-card {
  width: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.black__filter .select .last__select-card .left__last-card .kode {
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.02em;
  color: #333333;
  font-size: 20px;
  line-height: 24px;
}

.black__filter .select .last__select-card .left__last-card .kode__green {
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.02em;
  color: #333333;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #01522d;
}

.black__filter .select .last__select-card .right__last-card {
  width: 50%;
}

.black__filter .select .last__select-card .right__last-card .subtotal__right-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.black__filter .select .last__select-card .right__last-card .subtotal__right-card .lf__subt {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.black__filter .select .last__select-card .right__last-card .subtotal__right-card .lf__subt h4 {
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.02em;
  color: #333333;
  font-size: 20px;
  line-height: 24px;
  margin-right: 32px;
  margin-bottom: 0;
}

.black__filter .select .last__select-card .right__last-card .subtotal__right-card .rg__subt p {
  text-align: end;
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.02em;
  color: #333333;
  font-size: 16px;
  line-height: 24px;
  color: #777777;
  text-decoration: line-through;
  margin-bottom: 0;
}

.black__filter .select .last__select-card .right__last-card .subtotal__right-card .rg__subt h3 {
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.02em;
  color: #333333;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 0;
}

.black__filter .select .button__checkout {
  margin-top: 26px;
}

.black__filter .select .button__checkout a {
  display: block;
  text-decoration: none;
  background-color: #d84727;
  padding: 20px 0;
  text-align: center;
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.02em;
  color: #333333;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
}

.black__filter .select .button__checkout:hover a {
  color: #d84727;
  background-color: rgba(216, 71, 39, 0);
  border: 2px solid #d84727;
  padding: 18px 0;
}

.black__filter hr {
  margin: 40px 0;
}

.black__filter .second__hr-select {
  margin-top: 40px;
  margin-bottom: 0;
}

/*Media */
@media screen and (max-width: 1200px) {
  .center {
    width: 90%;
  }
  .recent__news .all__recent-news .left__recent-news {
    margin-left: 5%;
    margin-right: 5%;
  }
  .testimonials .right__testimonials .sub__container,
  .product__info .all_product-info .right__product-info {
    margin-right: 5%;
  }
  .testimonials .right__testimonials .sub__container .nunito,
  .product__info .all_product-info .right__product-info .info__model h1 {
    width: 100%;
  }
  .testimonials .left__testimonials .girl {
    left: 10%;
  }
  .arrow__black {
    margin-top: 30px;
  }
  .product__info
.all_product-info
.right__product-info
.info__model
.button__quantity {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .product__info
.all_product-info
.right__product-info
.info__model
.button__quantity
.arrow__pink {
    margin-left: 0;
  }
  .product__info
.all_product-info
.right__product-info
.info__model
.button__quantity
.quantity,
  .button__pink {
    margin-top: 20px;
  }
  .product__info
.all_product-info
.right__product-info
.info__model
.button__quantity
.quantity
.one {
    margin-left: 5px;
    margin-right: 5px;
  }
  .product__info .all_product-info .left__product-info .mini__clock {
    left: 20%;
  }
  .product__details h4 a {
    font-size: 19px;
  }
  .catalog__clock .series .title a .info__product h4 {
    font-size: 18px;
    line-height: 24px;
  }
  .catalog__clock .series .title a .info__product h3 {
    font-size: 20px;
  }
}

@media screen and (max-width: 1024px) {
  header .info__header .menu {
    display: none;
  }
  header .info__header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .pink {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px;
  }
  .pink .pink-left,
  .black__filter .select .select__card .left__select-card {
    width: 100%;
  }
  .pink .pink-right {
    padding-top: 100px;
    padding-left: 0;
    width: 100%;
  }
  .pink .pink-right .matoa__pink .arrow__pink .arrow:last-child {
    margin-right: 0;
  }
  .pink .pink-right .matoa__pink h1 {
    width: 100%;
  }
  .pink .pink-left img {
    top: 40px;
  }
  .recent__news .all__recent-news .left__recent-news h3 {
    line-height: 38px;
    font-size: 28px;
    width: 300px;
  }
  .recent__news .all__recent-news .left__recent-news .button__recent-news a {
    margin-top: 20px;
  }
  .testimonials .right__testimonials .sub__container .nunito {
    margin-bottom: 20px;
  }
  .testimonials .right__testimonials .sub__container,
  .product__info .all_product-info .right__product-info .info__model {
    margin-left: 0;
  }
  .product__info .all_product-info,
  .black__filter .select .select__card {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .product__info .all_product-info .right__product-info {
    width: 100%;
    margin-left: 5%;
  }
  .product__info
.all_product-info
.right__product-info
.info__model
.button__quantity
.arrow__pink {
    margin-left: 30px;
  }
  .product__info .all_product-info .left__product-info {
    width: 60%;
  }
  .product__info .all_product-info .left__product-info .mini__clock {
    left: 25%;
  }
  .black__filter
.select
.select__card
.right__select-card
.trash__select
.quantity
.one {
    margin-left: 10px;
    margin-right: 10px;
  }
  .black__filter .select .select__card .right__select-card .trash__select img {
    margin-left: 15px;
  }
  .catalog__clock .series {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    grid-column-gap: 5px;
  }
  .catalog__clock .series div:nth-child(3),
  .catalog__clock .series .title:last-child {
    display: none;
  }
  .black__filter .select .select__card .right__select-card {
    width: 100%;
    margin-top: 20px;
  }
}

@media screen and (max-width: 991.98px) {
  .product__details h4 a {
    font-size: 24px;
  }
}

@media screen and (max-width: 768px) {
  .pink .pink-right .matoa__pink .text__pink {
    width: 100%;
  }
  .discover__now .card__now {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-row-gap: 30px;
  }
  .discover__now .card__now .item {
    padding-left: 10px;
    padding-top: 20px;
  }
  .discover__now .card__now .item .info__name,
  .black__filter .select .last__select-card .left__last-card {
    width: 100%;
  }
  .recent__news .all__recent-news,
  .testimonials,
  .black__filter .select .last__select-card {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .recent__news .all__recent-news .left__recent-news,
  .black__filter .select .last__select-card .right__last-card {
    width: 100%;
    margin-top: 20px;
  }
  .recent__news .all__recent-news .left__recent-news h3,
  .testimonials .left__testimonials {
    width: 100%;
  }
  .recent__news .all__recent-news .right__receht-news {
    width: 100%;
    margin-top: 20px;
  }
  .recent__news .all__recent-news .right__receht-news img {
    width: 80%;
    right: auto;
  }
  .catalog__clock {
    margin-top: 200px;
  }
  .catalog__clock .button__more hr {
    width: 25%;
  }
  .catalog__clock .button__more .see__more a {
    padding: 15px 47px 16px 47px;
    font-size: 16px;
    line-height: 27px;
    border: 2px solid #d84727;
  }
  .testimonials .right__testimonials {
    width: 100%;
    margin-top: 300px;
  }
  .testimonials .right__testimonials .sub__container {
    margin-left: 5%;
  }
  .testimonials .left__testimonials .girl {
    width: 80%;
    left: 20%;
  }
  .blog__instagram .img__blog div {
    width: 33%;
  }
  footer .first__footer .payment {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  footer .first__footer .payment .link:nth-child(4n-1),
  footer .first__footer .payment .link:nth-child(2),
  footer .first__footer .payment .link:nth-child(6),
  footer .first__footer .payment .link:nth-child(10) {
    text-align: center;
  }
  footer .first__footer .payment .link:nth-child(4n) {
    text-align: end;
  }
  footer .first__footer .payment .link:nth-child(1),
  footer .first__footer .payment .link:nth-child(9) {
    text-align: start;
  }
  .detail__product .descr__detail .descr__text {
    text-align: justify;
  }
  .detail__product .descr__detail .detail__img,
  .product__info .all_product-info .left__product-info {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  header .info__header .icon__header {
    display: none;
  }
  .pink .pink-right .matoa__pink .button__pink .button1 .add__cart {
    font-size: 16px;
    line-height: 26px;
  }
  .pink .pink-right .matoa__pink .button__pink .button1 .add__cart img {
    margin-right: 0;
    vertical-align: text-bottom;
  }
  .testimonials .right__testimonials {
    margin-top: 150px;
  }
  .arrow__black {
    margin-top: 20px;
  }
  .blog__instagram .img__blog div {
    width: 50%;
  }
  footer .second__footer h5 {
    margin-top: 30px;
  }
  .detail__product .link__detail {
    display: block;
  }
  .detail__product .link__detail .item a,
  .detail__product .link__detail .item:first-child hr,
  .product__info
.all_product-info
.right__product-info
.info__model
.button__quantity
.arrow__pink {
    margin-left: 0;
  }
  .product__info .all_product-info .left__product-info .one__clock img {
    max-width: 80%;
  }
  .product__info .all_product-info .left__product-info {
    width: 100%;
  }
  .product__info .all_product-info .left__product-info .mini__clock {
    margin-left: 5%;
    margin-right: 5%;
    position: static;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .product__info .all_product-info .left__product-info .one__clock {
    position: static;
  }
  .product__info .all_product-info .left__product-info .one__clock img {
    max-width: 45%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
  }
  .black__filter .select .select__card .left__select-card .info__select h4,
  .black__filter
.select
.last__select-card
.right__last-card
.subtotal__right-card
.lf__subt
h4,
  .black__filter .select .last__select-card .left__last-card .kode {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 4px;
  }
  .black__filter
.select
.select__card
.left__select-card
.info__select
.sm__price {
    font-size: 14px;
    line-height: 20px;
  }
  .black__filter .select .select__card .left__select-card .info__select h3,
  .black__filter .select .select__card .right__select-card .trash__select h3,
  .black__filter
.select
.last__select-card
.right__last-card
.subtotal__right-card
.rg__subt
h3 {
    font-size: 22px;
    line-height: 28px;
  }
  .black__filter .select .select__card .left__select-card .info__select {
    margin-left: 10px;
  }
  .black__filter .select {
    padding: 3%;
  }
  .black__filter
.select
.select__card
.left__select-card
.info__select
.small__text {
    font-size: 14px;
    line-height: 22px;
  }
  .catalog__clock .series {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    grid-row-gap: 10px;
  }
  .catalog__clock .series div:nth-child(2) {
    -ms-grid-row: 6;
    grid-row: 6;
  }
  .catalog__clock .series .title a .info__product h4 {
    font-size: 24px;
    line-height: 32px;
  }
  .catalog__clock .series .title a .info__product h3 {
    font-size: 28px;
  }
  .black__filter .select .select__card .right__select-card .trash__select,
  .black__filter
.select
.last__select-card
.right__last-card
.subtotal__right-card {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .black__filter .select .select__card .right__select-card .trash__select img,
  .black__filter .select .select__card .right__select-card .trash__select h3 {
    margin: 0;
  }
}

@media screen and (max-width: 425px) {
  .pink .pink-right .matoa__pink h1,
  .product__info .all_product-info .right__product-info .info__model h1 {
    font-size: 40px;
    line-height: 60px;
  }
  .recent__news .all__recent-news .right__receht-news {
    height: 250px;
  }
  .catalog__clock .button__more hr {
    display: none;
  }
  .catalog__clock .button__more {
    margin-top: 30px;
  }
  .testimonials .left__testimonials {
    height: 200px;
  }
  .blog__instagram .img__blog div {
    width: 100%;
  }
  footer .first__footer .payment {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  footer .first__footer .payment .link:nth-child(odd) {
    text-align: start;
  }
  footer .first__footer .payment .link:nth-child(even) {
    text-align: end;
  }
  .product__info .all_product-info .left__product-info .one__clock img {
    max-width: 60%;
  }
  .black__filter .select .select__card .left__select-card .info__select h3 {
    margin-bottom: 0;
  }
  .black__filter .select .select__card .right__select-card .trash__select,
  .black__filter
.select
.last__select-card
.right__last-card
.subtotal__right-card {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .black__filter .select .select__card .left__select-card {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .black__filter
.select
.select__card
.left__select-card
.picture__select[data-link="back__select"] {
    margin-bottom: 5%;
    width: 100%;
    height: 250px;
  }
  .black__filter .select .select__card .left__select-card .info__select {
    width: 100%;
    margin-left: 0;
  }
  .black__filter
.select
.select__card
.left__select-card
.picture__select[data-link="back__select"]
.back__select {
    background: url(../images/Clock2.png) no-repeat center/40%;
  }
  .black__filter
.select
.select__card
.left__select-card
.picture__select[data-link="back__select"]
.back__select2 {
    background: url(../images/Catalog3.png) no-repeat center/35%;
  }
  .black__filter .select .select__card .left__select-card .info__select h4 {
    font-size: 20px;
    line-height: 24px;
  }
  .black__filter
.select
.select__card
.left__select-card
.info__select
.small__text {
    font-size: 16px;
    line-height: 24px;
  }
  .black__filter .select .button__checkout a {
    font-size: 20px;
  }
  .button__pink .button1 .add__cart {
    padding: 18px 19px 14px 18px;
  }
  .catalog__clock .series .title a .info__product h4 {
    font-size: 18px;
    line-height: 24px;
  }
  .catalog__clock .series .title a .info__product h3 {
    font-size: 20px;
  }
}

@media screen and (max-width: 375px) {
  .pink .pink-right .matoa__pink .button__pink,
  .product__info
.all_product-info
.right__product-info
.info__model
.button__quantity
.quantity,
  .button__pink {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .pink .pink-right .matoa__pink .button__pink .button1 {
    width: 100%;
  }
  .pink .pink-right .matoa__pink .button__pink .button1 .add__cart,
  .product__info
.all_product-info
.right__product-info
.info__model
.button__quantity
.quantity,
  .button__pink .button1 .add__cart {
    font-size: 12px;
    padding: 16px 28px 16px 25px;
  }
  .pink .pink-right .matoa__pink .button__pink .button2,
  .product__info
.all_product-info
.right__product-info
.info__model
.button__quantity
.quantity,
  .button__pink .button2 {
    width: 100%;
    margin-top: 20px;
  }
  .pink .pink-left img {
    width: 100%;
    max-width: 100%;
  }
  .name {
    font-size: 30px;
  }
  .testimonials .right__testimonials {
    margin-top: 100px;
  }
  .product__info
.all_product-info
.right__product-info
.info__model
.button__quantity
.quantity {
    padding: 0;
  }
  .product__info .all_product-info .left__product-info .one__clock img {
    max-width: 70%;
  }
  .product__info .all_product-info .left__product-info .one__clock {
    margin-right: 0;
  }
  .black__filter
.select
.select__card
.left__select-card
.picture__select[data-link="back__select"]
.back__select {
    background: url(../images/Clock2.png) no-repeat center/50%;
  }
  .black__filter
.select
.select__card
.left__select-card
.picture__select[data-link="back__select"]
.back__select2 {
    background: url(../images/Catalog3.png) no-repeat center/45%;
  }
  .black__filter .select .select__card .right__select-card .trash__select h3 {
    line-height: 24px;
    font-size: 18px;
  }
}
/*# sourceMappingURL=style1.css.map */