@mixin taviraj {
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.02em;
  color: #333333;
}

@mixin p__nunito {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #777777;
}

$color: #d84727;

.order-checkout {
  margin-bottom: 30px;
  .left-content-checkout {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
    .payment-detail {
      background: #ffffff;
      padding: 32px;
      .title-payment-detail {
        .time-container {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          .title-h3 {
            @include taviraj;
            font-weight: 600;
            font-size: 36px;
            line-height: 48px;
            margin-bottom: 16px;
          }
          .time {
            font-family: "Taviraj", serif;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 48px;
            letter-spacing: 0.02em;
            color: #d93f3f;
          }
        }
        .descr-payment-detail {
          @include p__nunito;
          line-height: 32px;
          letter-spacing: 0.03em;
          color: #333333;
          margin-bottom: 8px;
        }
      }
    }
  }
  .right-content-checkout {
    display: inherit;
  }
  .payment-method {
    background: #ffffff;
    padding: 32px;
    margin-top: 30px;
    margin-bottom: 40px;
    h3 {
      @include taviraj;
      font-weight: 600;
      font-size: 36px;
      line-height: 48px;
      margin-bottom: 40px;
    }
    .form-payment-radio {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      .input-radio:nth-child(5) {
        grid-column: 1 / span 2;
      }
      .input-radio {
        input {
          width: 24px;
          height: 24px;
          vertical-align: sub;
          margin-right: 16px;
        }
        .title-payment {
          @include taviraj;
          font-size: 20px;
          line-height: 32px;
        }
        .img-payment {
          img {
            margin-right: 30px;
          }
        }
      }
    }
  }
}

.items-str {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 24px;
  .title-order {
    width: 40%;
    .text-title-order {
      @include taviraj;
      font-size: 20px;
      line-height: 32px;
    }
  }
  .info-input {
    width: 60%;
    .text-info-input {
      @include taviraj;
      font-size: 20px;
      line-height: 32px;
      span {
        @include taviraj;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        color: $color;
        margin-left: 28px;
      }
    }
    .descr-info-input {
      @include p__nunito;
    }
  }
}
.items-str:last-child {
  margin-bottom: 0;
}

/*Media */

@media screen and (max-width: 1200px) {
  .items-str .title-order .text-title-order {
    font-size: 18px;
    line-height: 26px;
  }
  .items-str .info-input .text-info-input {
    font-size: 15px;
    line-height: 26px;
  }
  .items-str .info-input .text-info-input span {
    font-size: 12px;
  }
  .order-checkout
    .left-content-checkout
    .payment-detail
    .title-payment-detail
    .time-container
    .time {
    width: 100%;
    text-align: end;
  }
  .order-checkout
    .left-content-checkout
    .payment-detail
    .title-payment-detail
    .time-container
    .title-h3 {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 1024px) {
  .order-checkout
    .left-content-checkout
    .payment-detail
    .title-payment-detail
    .time-container
    .title-h3 {
    font-size: 33px;
    line-height: 25px;
  }
  .order-checkout
    .left-content-checkout
    .payment-detail
    .title-payment-detail
    .descr-payment-detail {
    text-align: justify;
  }
}

@media screen and (max-width: 768px) {
  .items-str .title-order .text-title-order,
  .items-str .info-input .text-info-input {
    font-size: 20px;
    line-height: 32px;
  }
  .items-str .info-input .text-info-input span {
    font-size: 16px;
  }
  .order-checkout
    .left-content-checkout
    .payment-detail
    .title-payment-detail
    .time-container
    .time {
    line-height: 25px;
    width: 30%;
  }
  .order-checkout
    .left-content-checkout
    .payment-detail
    .title-payment-detail
    .time-container {
    margin-bottom: 30px;
  }
  .info-order .order-checkout .right-content-checkout {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .items-str .title-order .text-title-order,
  .items-str .info-input .text-info-input {
    font-size: 15px;
    line-height: 20px;
  }
  .items-str .info-input .text-info-input span {
    font-size: 12px;
  }
  .items-str .info-input .descr-info-input {
    font-size: 12px;
    line-height: 18px;
  }
  .order-checkout
    .left-content-checkout
    .payment-detail
    .title-payment-detail
    .time-container
    .time {
    width: 100%;
    line-height: 48px;
  }
  .order-checkout
    .left-content-checkout
    .payment-detail
    .title-payment-detail
    .time-container {
    margin-bottom: 0;
  }
  .order-checkout
    .left-content-checkout
    .payment-detail
    .title-payment-detail
    .descr-payment-detail {
    line-height: 24px;
  }
}

@media screen and (max-width: 425px) {
  .items-str .title-order {
    width: 100%;
  }
  .items-str .info-input {
    width: 100%;
    text-align: end;
  }
  .order-checkout
    .left-content-checkout
    .payment-detail
    .title-payment-detail
    .time-container
    .time {
    font-size: 16px;
  }
}

@media screen and (max-width: 375px) {
  .order-checkout
    .left-content-checkout
    .payment-detail
    .title-payment-detail
    .time-container
    .title-h3 {
    font-size: 27px;
  }
  .order-checkout
    .left-content-checkout
    .payment-detail
    .title-payment-detail
    .descr-payment-detail {
    line-height: 20px;
    font-size: 14px;
  }
}
