body {
  font-family: "Catamaran", sans-serif;
  font-family: "Nunito", sans-serif;
  font-family: "Taviraj", serif;
}

.wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  background: #e5e5e5;
}

.center {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
}

$color: #d84727;

@mixin images {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}

@mixin img__backgr {
  display: block;
  height: inherit;
  width: inherit;
}

@mixin p__nunito {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #333333;
}

@mixin h4__taviraj {
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.03em;
  color: #333333;
}

@mixin link__hover {
  content: "";
  display: block;
  width: 100%;
  background-color: $color;
  height: 2px;
  transition: all 0.3s;
  transform: scale(0);
}

/* Header */

header .info__header {
  display: grid;
  grid-template-columns: 1fr 45% 1fr;
  margin-top: 35px;
}

header .info__header .logo {
  align-self: end;
}

header .info__header .logo a img {
  vertical-align: baseline;
}

header .info__header .menu {
  display: flex;
  justify-content: space-between;
  margin-right: 88px;
  align-items: flex-end;
}

header .info__header .icon__header {
  display: flex;
  justify-content: flex-end;
}

header .info__header .icon__header .icon-search {
  align-self: flex-end;
  margin-right: 40px;
}

header .info__header .icon__header .icon-search img {
  vertical-align: sub;
}

header .info__header .icon__header .icon-search img:hover {
  width: 34px;
}

header .info__header .icon__header .icon-user {
  align-self: center;
  margin-right: 40px;
}

header .info__header .icon__header .icon-user img {
  margin-right: 8px;
  vertical-align: middle;
}

header .info__header .icon__header .icon-user span:hover {
  color: $color;
}

header .info__header .icon__header .icon-user img:hover {
  width: 26px;
}

header .info__header .icon__header .icon[data-link="cart"] {
  width: 46px;
  height: 46px;
  background: #f1ddc9;
  border-radius: 50%;
}

header .info__header .icon__header .icon .cart {
  display: block;
  height: inherit;
  width: inherit;
  background: url(../images/Cart.png) no-repeat center/50%;
}

header a {
  text-decoration: none;
  color: #333333;
  font-family: "Catamaran", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 34px;
  letter-spacing: 0.02em;
}

header .info__header .menu .item a::after {
  @include link__hover;
}
header .info__header .menu .item a:hover::after {
  transform: scale(1);
}

header .info__header .menu .item a span:hover {
  color: $color;
}

/* Section Pink  */

.pink {
  background: #f1ddc9;
  margin-top: 90px;
  display: flex;
}

.pink a {
  text-decoration: none;
}

.pink .pink-left img {
  position: relative;
  top: 130px;
  left: 8px;
}

.pink .pink-left {
  width: 36%;
}

.pink .pink-right {
  padding-top: 56px;
  width: 64%;
}

.pink .pink-right .matoa__pink h1 {
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 80px;
  letter-spacing: 0.02em;
  color: #333333;
  text-transform: uppercase;
  width: 60%;
}

.pink .pink-right .matoa__pink hr {
  width: 95px;
  border: 1px solid #000000;
  margin-top: 8px;
  margin-bottom: 24px;
  margin-left: 0;
}

.pink .pink-right .matoa__pink .text__pink {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.03em;
  color: #333333;
  width: 70%;
  margin-bottom: 8px;
}

.pink .pink-right .matoa__pink .text__discover {
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.03em;
  color: #333333;
}

.pink .pink-right .matoa__pink .discover {
  border: 1px solid #333333;
  width: 74px;
  margin-top: 0;
  margin-bottom: 0;
}

.pink .pink-right .matoa__pink .button__pink {
  display: flex;
  margin-top: 44px;
}

.pink .pink-right .matoa__pink .button__pink .button1 {
  display: inline-flex;
  margin-right: 16px;
}

.pink .pink-right .matoa__pink .button__pink .button1 .add__cart {
  text-decoration: none;
  color: #ffffff;
  background-color: #d84727;
  padding: 14px 30px 14px 25px;
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 34px;
  letter-spacing: 0.02em;
}

.pink .pink-right .matoa__pink .button__pink .button1 .add__cart i {
  margin-right: 13px;
}

.pink .pink-right .matoa__pink .button__pink .button1 .add__cart:hover {
  color: $color;
  background-color: rgba(216, 71, 39, 0);
  border: 2px solid $color;
}

.pink .pink-right .matoa__pink .button__pink .button2 .cicil {
  display: flex;
}

.pink .pink-right .matoa__pink .button__pink .button2 .cicil img {
  border: 2px solid #d84727;
  padding: 15px 41px 14px 42px;
}

.pink .pink-right .matoa__pink .arrow__pink {
  display: flex;
  justify-content: flex-end;
  margin-top: 9px;
  position: relative;
  top: 27px;
}

.pink .pink-right .matoa__pink .arrow__pink .arrow {
  border: 3px solid #d84727;
  padding: 0 12px;
}

.pink .pink-right .matoa__pink .arrow__pink .arrow:last-child {
  // background-color: #d84727;
  margin-left: 15px;
  margin-right: 31px;
}

.pink .pink-right .matoa__pink .arrow__pink .arrow .item {
  font-size: 30px;
  color: #d84727;
}

.pink .pink-right .matoa__pink .arrow__pink .arrow:hover {
  background-color: #d84727;
  cursor: pointer;

  .item {
    color: #fff;
  }
}

/* Section Discover Now */

.discover__now {
  margin-top: 139px;
}

.discover__now .card__now {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
}

.discover__now .card__now .item {
  background: #ffffff;
  padding-top: 32px;
  padding-left: 32px;
}

.discover__now .card__now .item .link__img {
  display: flex;
  justify-content: space-between;
}

.discover__now .card__now .item .name {
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 0.03em;
  color: #333333;
}

.discover__now .card__now .item .name span {
  font-weight: 600;
}

.discover__now .card__now .item .info__name {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #777777;
  width: 345px;
  margin-top: 8px;
}

.discover__now .card__now .item .link__img .desc .link__discover {
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.03em;
  color: #333333;
  margin-top: 4px;
}

.discover__now .card__now .item .link__img .desc hr {
  width: 115px;
  border: 1px solid #333333;
  margin: 0;
}

.discover__now .card__now .item .link__img .desc img {
  width: 100%;
  max-width: 100%;
}

/* Section Monthly Deals */

.monthly__deals {
  margin-top: 92px;
}

.name {
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #333333;
}

.name__hr {
  width: 128px;
  border: 1px solid #000000;
  margin-top: 8px;
}

.product__card {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.06);
  transition: all 3s;
  background: #ffffff;
}

.product__card:hover {
  box-shadow: 0 14px 30px -15px rgba(0, 0, 0, 0.75);
}

.product__thumb a {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -40px;
  margin-top: 60px;
}

.product__details {
  margin-left: 24px;
}

.product__details h4 a {
  text-decoration: none;
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
}

.product__details .percent {
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #777777;
  margin-bottom: 6px;
}

.product__details .small {
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #777777;
  text-decoration: line-through;
}

.product__details .big {
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
  padding-bottom: 48px;
}

.product__card .item__hover {
  display: flex;
  margin-left: 26px;
  margin-right: 24px;
  margin-top: 24px;
  padding-bottom: 16px;
  justify-content: space-between;
}

.product__card .item__hover .heart {
  border: 1px solid #d84727;
  padding: 7px 8px 5px 7px;
}

.product__card .item__hover .card__button a {
  text-decoration: none;
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #ffffff;
  background: #d84727;
  padding: 8px 36px;
  display: inline-block;
  transition: 0.5s;
}

.product__card .item__hover .card__button a:hover {
  color: $color;
  background-color: #ffffff;
  border: 1px solid $color;
  padding: 7px 35px;
}

// Section Recent News

.recent__news {
  .name__section {
    margin-top: 57px;
  }
  .all__recent-news {
    display: flex;
    justify-content: space-between;
    .left__recent-news {
      margin-left: 165px;
      margin-top: 180px;
      width: 56%;
      p {
        font-family: "Taviraj", serif;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 40px;
        letter-spacing: 0.02em;
        color: #777777;
      }
      h3 {
        font-family: "Taviraj", serif;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 48px;
        letter-spacing: 0.02em;
        color: #333333;
        width: 350px;
      }
      .button__recent-news {
        a {
          text-decoration: none;
          font-family: "Taviraj", serif;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 27px;
          letter-spacing: 0.02em;
          color: $color;
          border: 2px solid $color;
          padding: 15px 47px 16px 47px;
          display: inline-block;
          margin-top: 45px;
          transition: 0.5s;
        }
        a:hover {
          color: #ffffff;
          background-color: $color;
        }
      }
    }
    .right__receht-news {
      background: #f1ddc9;
      width: 44%;
      height: 458px;
      position: relative;
      img {
        position: absolute;
        top: 69px;
        right: 38%;
        @include images;
      }
    }
  }
}

// Section Catalog Clock

.catalog__clock {
  margin-top: 133px;
  .series {
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    grid-row-gap: 32px;
    div {
      .name {
        font-weight: normal;
      }
      .name__hr {
        width: 65px;
        border: 1px solid #333333;
      }
      .picture[data-link="back"] {
        width: 131px;
        height: 131px;
        background: #f1ddc9;
        .back1 {
          @include img__backgr;
          background: url(../images/Catalog1.png) no-repeat center/50%;
        }
        .back2 {
          @include img__backgr;
          background: url(../images/Catalog2.png) no-repeat center/50%;
        }
        .back3 {
          @include img__backgr;
          background: url(../images/Catalog3.png) no-repeat center/50%;
        }
        .back4 {
          @include img__backgr;
          background: url(../images/Catalog4.png) no-repeat center/50%;
        }
        .back5 {
          @include img__backgr;
          background: url(../images/Catalog5.png) no-repeat center/40%;
        }
        .back6 {
          @include img__backgr;
          background: url(../images/Catalog6.png) no-repeat center/80%;
        }
        .back7 {
          @include img__backgr;
          background: url(../images/Catalog7.png) no-repeat center/50%;
        }
        .back8 {
          @include img__backgr;
          background: url(../images/Catalog8.png) no-repeat center/50%;
        }
        .back9 {
          @include img__backgr;
          background: url(../images/Catalog9.png) no-repeat center/50%;
        }
      }
    }
    .title {
      display: flex;
      align-items: center;
      a {
        text-decoration: none;
        .info__product {
          margin-left: 24px;
          max-height: 131px;
          h4 {
            font-family: "Taviraj", serif;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 32px;
            letter-spacing: 0.02em;
            color: #333333;
          }
          p {
            font-family: "Taviraj", serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: #777777;
            text-decoration: line-through;
            margin-bottom: 0;
          }
          h3 {
            font-family: "Taviraj", serif;
            font-style: normal;
            font-weight: 500;
            font-size: 28px;
            line-height: 40px;
            letter-spacing: 0.02em;
            color: #222222;
          }
        }
      }
    }
    .title:hover {
      border: 1px solid $color;
    }
  }
  .button__more {
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
    hr {
      border: 0.3px solid #999999;
      width: 30%;
      align-self: center;
    }
    .see__more {
      a {
        text-decoration: none;
        font-family: "Taviraj", serif;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 34px;
        letter-spacing: 0.03em;
        color: $color;
        border: 1px solid $color;
        padding: 16px 91px 16px 92px;
        display: inline-block;
        transition: 0.5s;
      }
      a:hover {
        color: #ffffff;
        background-color: $color;
      }
    }
  }
}

// Section Testimonials

.testimonials {
  display: flex;
  justify-content: space-between;
  margin-top: 120px;
  .left__testimonials {
    width: 35.7%;
    background: #f1ddc9;
    height: 300px;
    position: relative;
    .girl {
      position: absolute;
      top: 67px;
      left: 165px;
      @include images;
    }
  }
  .right__testimonials {
    width: 50%;
    .sub__container {
      margin-left: 74px;
      .name {
        font-weight: 600;
      }
      .name__hr {
        margin-bottom: 30px;
      }
      .nunito {
        @include p__nunito;
        width: 511px;
        margin-bottom: 70px;
      }
      h4 {
        @include h4__taviraj;
      }
      p {
        font-family: "Taviraj", serif;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 32px;
        letter-spacing: 0.03em;
        color: #777777;
        margin-bottom: 0;
      }
    }
  }
}

.arrow__black {
  margin-top: 83px;
  a {
    margin-right: 24px;
    text-decoration: none;
    img:hover {
      border: 1px solid #333333;
      padding: 5px;
      transition: 0.5s;
    }
  }
}

// Section Blog Instagram

.blog__instagram {
  margin-top: 60px;
  margin-bottom: 75px;
  .img__blog {
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
    div {
      width: 20%;
      img {
        height: 100vh;
        max-height: 222px;
        @include images;
      }
    }
  }
}

// Footer

footer {
  .first__footer {
    background-color: #da5e42;
    .payment {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      padding-top: 40px;
      padding-bottom: 23px;
      .link:nth-child(1),
      .link:nth-child(6) {
        text-align: end;
      }
      .link:nth-child(2),
      .link:nth-child(3),
      .link:nth-child(4),
      .link:nth-child(7),
      .link:nth-child(8),
      .link:nth-child(9) {
        text-align: center;
      }
    }
  }
  .second__footer {
    background-color: $color;
    color: #ffffff;
    padding-top: 51px;
    .address {
      .logo__foot {
        margin-bottom: 27px;
        display: block;
      }
      h6 {
        font-family: "Taviraj", serif;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 34px;
        letter-spacing: 0.02em;
        margin: 0;
        display: inline;
      }
      li {
        font-family: "Taviraj", serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 27px;
        letter-spacing: 0.03em;
      }
    }
    h6 {
      font-family: "Taviraj", serif;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 34px;
      letter-spacing: 0.02em;
      display: inline-block;
      width: 97px;
    }
    li {
      font-family: "Taviraj", serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 32px;
      letter-spacing: 0.03em;
    }
    h5 {
      font-family: "Taviraj", serif;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      letter-spacing: 0.02em;
      margin-bottom: 0;
    }
    hr {
      border: 1px solid #ffffff;
      width: 60px;
      margin-top: 0;
    }
    a {
      text-decoration: none;
      transition: all 0.3s;
      color: #ffffff;
    }
    a:hover {
      color: aqua;
      text-decoration: underline;
    }
    .social__link {
      a {
        margin-right: 25px;
      }
    }
  }
}

// Page Product

// Section Bread

.bread {
  margin-top: 74px;
  margin-bottom: 45px;
  a {
    font-family: Taviraj;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0.02em;
    color: #333333;
    text-decoration: none;
  }
  a::after {
    @include link__hover;
  }
  a:hover::after {
    transform: scale(1);
  }
  a:hover {
    color: $color;
  }
  .active {
    color: $color;
  }
}

/*Media */

@media screen and (max-width: 1200px) {
  .center {
    width: 90%;
  }

  .recent__news .all__recent-news .left__recent-news {
    margin-left: 5%;
    margin-right: 5%;
  }

  .testimonials .right__testimonials .sub__container {
    margin-right: 5%;
  }

  .testimonials .right__testimonials .sub__container .nunito {
    width: 100%;
  }
  .testimonials .left__testimonials .girl {
    left: 10%;
  }

  .arrow__black {
    margin-top: 30px;
  }
}

@media screen and (max-width: 1024px) {
  header .info__header .menu {
    display: none;
  }

  header .info__header {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .pink {
    flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px;
  }

  .pink .pink-left {
    width: 100%;
  }

  .pink .pink-right {
    padding-top: 100px;
    padding-left: 0;
    width: 100%;
  }

  .pink .pink-right .matoa__pink .arrow__pink .arrow:last-child {
    margin-right: 0;
  }

  .pink .pink-right .matoa__pink h1 {
    width: 100%;
  }

  .pink .pink-left img {
    top: 40px;
  }

  .recent__news .all__recent-news .left__recent-news h3 {
    line-height: 38px;
    font-size: 28px;
    width: 300px;
  }

  .recent__news .all__recent-news .left__recent-news .button__recent-news a {
    margin-top: 20px;
  }

  .catalog__clock .series .title a .info__product h4 {
    font-size: 18px;
    line-height: 24px;
  }

  .catalog__clock .series .title a .info__product h3 {
    font-size: 20px;
  }
  .testimonials .right__testimonials .sub__container .nunito {
    margin-bottom: 20px;
  }

  .testimonials .right__testimonials .sub__container {
    margin-left: 0;
  }
}

@media screen and (max-width: 768px) {
  .pink .pink-right .matoa__pink .text__pink {
    width: 100%;
  }

  .discover__now .card__now {
    grid-template-columns: 1fr;
    grid-row-gap: 30px;
  }

  .discover__now .card__now .item {
    padding-left: 10px;
    padding-top: 20px;
  }

  .discover__now .card__now .item .info__name {
    width: 100%;
  }

  .recent__news .all__recent-news,
  .testimonials {
    flex-wrap: wrap;
  }

  .recent__news .all__recent-news .left__recent-news {
    width: 100%;
    margin-top: 20px;
  }

  .recent__news .all__recent-news .left__recent-news h3,
  .testimonials .left__testimonials {
    width: 100%;
  }

  .recent__news .all__recent-news .right__receht-news {
    width: 100%;
    margin-top: 20px;
  }

  .recent__news .all__recent-news .right__receht-news img {
    width: 80%;
    right: auto;
  }

  .catalog__clock {
    margin-top: 200px;
  }

  .catalog__clock .series {
    grid-template-columns: 50% 50%;
    grid-column-gap: 5px;
  }

  .catalog__clock .series div:nth-child(3),
  .catalog__clock .series .title:last-child {
    display: none;
  }

  .catalog__clock .button__more hr {
    width: 25%;
  }

  .catalog__clock .button__more .see__more a {
    padding: 15px 47px 16px 47px;
    font-size: 16px;
    line-height: 27px;
    border: 2px solid $color;
  }

  .testimonials .right__testimonials {
    width: 100%;
    margin-top: 300px;
  }

  .testimonials .right__testimonials .sub__container {
    margin-left: 5%;
  }

  .testimonials .left__testimonials .girl {
    width: 80%;
    left: 20%;
  }

  .blog__instagram .img__blog div {
    width: 33%;
  }

  footer .first__footer .payment {
    grid-template-columns: repeat(4, 1fr);
  }

  footer .first__footer .payment .link:nth-child(4n-1),
  footer .first__footer .payment .link:nth-child(2),
  footer .first__footer .payment .link:nth-child(6),
  footer .first__footer .payment .link:nth-child(10) {
    text-align: center;
  }

  footer .first__footer .payment .link:nth-child(4n) {
    text-align: end;
  }

  footer .first__footer .payment .link:nth-child(1),
  footer .first__footer .payment .link:nth-child(9) {
    text-align: start;
  }
}

@media screen and (max-width: 600px) {
  header .info__header .icon__header {
    display: none;
  }

  .pink .pink-right .matoa__pink .button__pink .button1 .add__cart {
    font-size: 16px;
    line-height: 26px;
  }

  .pink .pink-right .matoa__pink .button__pink .button1 .add__cart img {
    margin-right: 0;
    vertical-align: text-bottom;
  }

  .testimonials .right__testimonials {
    margin-top: 150px;
  }

  .arrow__black {
    margin-top: 20px;
  }

  .blog__instagram .img__blog div {
    width: 50%;
  }

  footer .second__footer h5 {
    margin-top: 30px;
  }
}

@media screen and (max-width: 425px) {
  .pink .pink-right .matoa__pink h1 {
    font-size: 40px;
    line-height: 60px;
  }

  .recent__news .all__recent-news .right__receht-news {
    height: 250px;
  }

  .catalog__clock .series {
    grid-template-columns: 100%;
    grid-row-gap: 10px;
  }

  .catalog__clock .series div:nth-child(2) {
    grid-row: 6;
  }

  .catalog__clock .button__more hr {
    display: none;
  }

  .catalog__clock .button__more {
    margin-top: 30px;
  }

  .testimonials .left__testimonials {
    height: 200px;
  }

  .blog__instagram .img__blog div {
    width: 100%;
  }

  footer .first__footer .payment {
    grid-template-columns: 1fr 1fr;
  }

  footer .first__footer .payment .link:nth-child(odd) {
    text-align: start;
  }

  footer .first__footer .payment .link:nth-child(even) {
    text-align: end;
  }
}

@media screen and (max-width: 375px) {
  .pink .pink-right .matoa__pink .button__pink {
    flex-wrap: wrap;
  }

  .pink .pink-right .matoa__pink .button__pink .button1 {
    width: 100%;
  }

  .pink .pink-right .matoa__pink .button__pink .button1 .add__cart {
    font-size: 12px;
    padding: 16px 28px 16px 25px;
  }

  .pink .pink-right .matoa__pink .button__pink .button2 {
    width: 100%;
    margin-top: 20px;
  }

  .pink .pink-left img {
    width: 100%;
    max-width: 100%;
  }

  .name {
    font-size: 30px;
  }

  .testimonials .right__testimonials {
    margin-top: 100px;
  }
}
