@mixin h4__taviraj {
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.03em;
  color: #333333;
}

@mixin taviraj {
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.02em;
  color: #333333;
}

@mixin p__nunito {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #777777;
}

@mixin images {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}

$color: #d84727;

.info-order {
  .order-checkout {
    margin-bottom: 86px;
    .left-content-confirmation {
      width: 49%;
      .order-confirmed {
        background: #ffffff;
        padding: 60px 15.5% 42px 15.5%;
        height: 100%;
        img {
          @include images;
          margin-bottom: 100px;
        }
        h4 {
          @include h4__taviraj;
          letter-spacing: 0.02em;
          text-align: center;
          margin-bottom: 16px;
        }
        p {
          @include p__nunito;
          color: #333333;
          text-align: center;
          margin-bottom: 60px;
        }
        .button-confirm {
          text-align: center;
          .track-page {
            text-decoration: none;
            background-color: $color;
            border: 2px solid $color;
            padding: 15px 47px 14px 48px;
            @include h4__taviraj;
            font-size: 20px;
            color: #ffffff;
            display: inline-block;
            width: 100%;
          }
        }
      }
    }
    .right-content-confirmation {
      width: 49%;
      .check-order {
        background: #ffffff;
        padding: 32px;
        height: 100%;
        .delivery-details {
          display: flex;
          flex-wrap: wrap;
          margin-bottom: 30px;
          .time-delivery {
            margin-right: 40px;
            .text-deliv {
              margin-left: 8px;
              @include p__nunito;
              line-height: 32px;
              color: #333333;
            }
          }
          .courier-delivery {
            .text-deliv {
              margin-left: 8px;
              @include p__nunito;
              line-height: 32px;
              color: #333333;
            }
          }
        }
        .info-order-confr {
          .text-confr {
            @include taviraj;
            font-size: 20px;
            line-height: 32px;
          }
          .descr-confr {
            @include p__nunito;
          }
        }
        .item-conf {
          display: flex;
          .order-data {
            @include h4__taviraj;
            line-height: 60px;
            width: 50%;
          }
          .price-order {
            @include h4__taviraj;
            line-height: 60px;
            width: 50%;
          }
        }
        hr {
          height: 1px;
          color: #333333;
          margin: 24px 0 16px 0;
        }
        .items-str {
          display: flex;
          flex-wrap: wrap;
          .title-order {
            width: 40%;
            .text-title-order {
              @include taviraj;
              font-size: 20px;
              line-height: 32px;
            }
          }
          .info-input {
            width: 60%;
            .text-info-input {
              @include taviraj;
              font-size: 20px;
              line-height: 32px;
            }
          }
        }
      }
    }
  }
}

/*Media */

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 1024px) {
  .info-order
    .order-checkout
    .left-content-confirmation
    .order-confirmed
    .button-confirm
    .track-page {
    padding: 15px;
  }
  .info-order .order-checkout .left-content-confirmation .order-confirmed p {
    font-size: 15px;
    line-height: 21px;
  }
  .info-order
    .order-checkout
    .right-content-confirmation
    .check-order
    .item-conf
    .order-data,
  .info-order
    .order-checkout
    .right-content-confirmation
    .check-order
    .item-conf
    .price-order {
    font-size: 18px;
    line-height: 40px;
  }
  .info-order
    .order-checkout
    .right-content-confirmation
    .check-order
    .info-order-confr
    .text-confr {
    font-size: 17px;
    line-height: 20px;
  }
  .info-order
    .order-checkout
    .right-content-confirmation
    .check-order
    .info-order-confr
    .descr-confr {
    font-size: 13px;
    line-height: 20px;
  }
  .info-order
    .order-checkout
    .right-content-confirmation
    .check-order
    .items-str
    .title-order
    .text-title-order,
  .info-order
    .order-checkout
    .right-content-confirmation
    .check-order
    .items-str
    .info-input
    .text-info-input {
    font-size: 17px;
    line-height: 26px;
  }
}

@media screen and (max-width: 768px) {
  .info-order .order-checkout .left-content-confirmation {
    width: 100%;
    margin-bottom: 20px;
  }
  .info-order .order-checkout .right-content-confirmation {
    width: 100%;
  }
  .info-order .order-checkout .left-content-confirmation .order-confirmed p {
    font-size: 16px;
    line-height: 24px;
  }
  .info-order
    .order-checkout
    .right-content-confirmation
    .check-order
    .info-order-confr
    .text-confr {
    font-size: 20px;
    line-height: 32px;
  }
  .info-order
    .order-checkout
    .right-content-confirmation
    .check-order
    .info-order-confr
    .descr-confr {
    font-size: 16px;
    line-height: 24px;
  }
  .info-order
    .order-checkout
    .right-content-confirmation
    .check-order
    .item-conf
    .order-data,
  .info-order
    .order-checkout
    .right-content-confirmation
    .check-order
    .item-conf
    .price-order {
    font-size: 24px;
    line-height: 60px;
  }
  .info-order
    .order-checkout
    .right-content-confirmation
    .check-order
    .items-str
    .title-order
    .text-title-order,
  .info-order
    .order-checkout
    .right-content-confirmation
    .check-order
    .items-str
    .info-input
    .text-info-input {
    font-size: 20px;
    line-height: 32px;
  }
}

@media screen and (max-width: 600px) {
  .info-order .order-checkout .left-content-confirmation .order-confirmed p {
    font-size: 15px;
    line-height: 21px;
  }
  .info-order
    .order-checkout
    .right-content-confirmation
    .check-order
    .item-conf
    .order-data,
  .info-order
    .order-checkout
    .right-content-confirmation
    .check-order
    .item-conf
    .price-order {
    font-size: 18px;
    line-height: 40px;
  }
  .info-order
    .order-checkout
    .right-content-confirmation
    .check-order
    .info-order-confr
    .descr-confr {
    font-size: 13px;
    line-height: 20px;
  }
  .info-order
    .order-checkout
    .right-content-confirmation
    .check-order
    .items-str
    .title-order
    .text-title-order,
  .info-order
    .order-checkout
    .right-content-confirmation
    .check-order
    .items-str
    .info-input
    .text-info-input {
    font-size: 17px;
    line-height: 26px;
  }
  .info-order
    .order-checkout
    .right-content-confirmation
    .check-order
    .item-conf
    .price-order {
    text-align: end;
  }
  .info-order
    .order-checkout
    .right-content-confirmation
    .check-order
    .items-str
    .info-input {
    text-align: justify;
  }
}

@media screen and (max-width: 425px) {
  .info-order
    .order-checkout
    .right-content-confirmation
    .check-order
    .items-str
    .title-order,
  .info-order
    .order-checkout
    .right-content-confirmation
    .check-order
    .items-str
    .info-input {
    width: 100%;
  }
  .info-order
    .order-checkout
    .right-content-confirmation
    .check-order
    .items-str
    .info-input
    .text-info-input {
    width: 100%;
    text-align: end;
    font-size: 15px;
    line-height: 22px;
  }
}

@media screen and (max-width: 375px) {
  .info-order
    .order-checkout
    .right-content-confirmation
    .check-order
    .item-conf
    .order-data,
  .info-order
    .order-checkout
    .right-content-confirmation
    .check-order
    .item-conf
    .price-order {
    font-size: 15px;
  }
  .info-order
    .order-checkout
    .right-content-confirmation
    .check-order
    .info-order-confr
    .text-confr {
    font-size: 17px;
    line-height: 24px;
  }
  .info-order
    .order-checkout
    .left-content-confirmation
    .order-confirmed
    .button-confirm
    .track-page {
    padding: 10px;
  }
  .info-order .order-checkout .left-content-confirmation .order-confirmed h4 {
    font-size: 23px;
  }
  .info-order .order-checkout .left-content-confirmation .order-confirmed p {
    font-size: 13px;
  }
}
